$roboto: "Roboto", "Helvetica", "Arial", sans-serif;
$roboto-slab: "Roboto Slab", "Helvetica", "Arial", sans-serif;

// Font Weights ----------------- //
$light: 300;
$medium: 500;

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
}

@mixin smooth-roboto-slab {
  @include font-smoothing;
  font-family: $roboto-slab;
}

@mixin smooth-roboto {
  @include font-smoothing;
  font-family: $roboto;
}

@mixin roboto-regular($font-size: 14px) {
  font-family: $roboto;
  font-size: $font-size;
  font-weight: 300;
  letter-spacing: 0.015rem;
}

@mixin roboto-slab-regular($font-size: 14px) {
  @include font-smoothing;
  font-family: $roboto-slab;
  font-size: $font-size;
  font-weight: 400;
}
